body {
  background-color: darkblue;
}
#main {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  align-items: center;
  justify-content: center;
  width: 600px;
}

h2 {
  background-color: darkblue;
  padding: 1em;
}